## Name: Anish Sharma
##  SAP ID: 60003220045
## Roll no: I011
## Experiment no: 1
## IT1

1. Write a python program to take the input from the user for the first name and last name and concatenate both the strings. Also add comments to the program

In [1]:

first = input("ENter first name:")
last = input("Enter last name:")

ENter first name:Anish
Enter last name:Sharma

In [3]:
full_name =first+last
full_name

'AnishSharma'

2. Write a program to evaluate the polynomial shown here:

3x3 - 5x2 + 6 for x = 2.55

In [4]:
3*pow(2.55,3)-5*pow(2.55,2)+6

23.231625

3. Write a program to output middle three characters of an input string.

In [6]:
x=input("String:")

String:Anish

In [8]:
mid=len(x)//2
print(x[mid-1:mid+2])

nis

4. Arrange string characters such that lowercase letters should come first.

For example: str1=’PyTHon” then output should be “yonPTH”

In [28]:

str1='PyTHon'
y=""
for i in str1:
    x=i
    if x.islower():
        y+=x
        
for i in str1:
    x=i
    if x.isupper():
        y+=x
print(y)

yonPTH

5. Count all letters, digits, and special symbols from a given string.

In [30]:
s = "Anish@123"
digit=0
alpha=0
special=0
for i in s:
    if i.isdigit():
        digit+=1
    elif i.isalpha():
        alpha+=1
    else:
        special+=1

In [31]:
digit

3

In [32]:
special

1

In [33]:
alpha

5

6. Write a program to count occurrences of all characters within a string.

In [34]:
s = "aaababcccddac"

In [37]:
unique = set(s)
unique

{'a', 'b', 'c', 'd'}

In [41]:
for i in unique:
    ctr=0
    for j in s:
        if i==j:
            ctr+=1
    print("occurrence of ",i," is ",ctr)

occurrence of  d  is  2
occurrence of  c  is  4
occurrence of  b  is  2
occurrence of  a  is  5

7. Write a program to find the last position of a substring “Rama” in a given string

For e.g. "Mary always stood first in class. Mary now works at Google."

The expected outcome is “The last position of Mary starts at index 34”

In [43]:
s="Mary always stood first in class. Mary now works at Google."
s.rfind('Mary')

34

8. Removal all characters from a string except integers

In [46]:
s = 'Anis67h123456'
x=''
for i in s:
    if i.isdigit():
        x+=i
s=x
s

'67123456'

9.Replace each special symbol with # in the following string:

I/p string:Mary @always &stood firl̥st in %class

O/P String: Mary #always #stood first in #class

In [58]:
import string

In [59]:
a = "Mary @always &stood fir!st in %class"
for i in string.punctuation: 
    a=a.replace(i,"#")
print(a)

Mary #always #stood fir#st in #class

10. Write a program that takes a sentence as an input parameter where each word in the sentence is separated by a space. Then replace each blank with a hyphen and then print the modified sentence.

In [65]:
a = input("String:")
s =''
for i in a:
    if i!=' ':
       s+=i
    else:
        s+='-'
s

String:jv fjg

'jv-fjg'